@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .clip-path-triangle-down {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
  .clip-path-triangle-up {
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
  }
}
